<footer op-60>
  <p mt-6 text-sm text-slate>
    <span pr-1>Powered by OpenAI</span><br/>
    <span pr-1>因访问量太大，网页版即将暂停服务，请微信搜索“AI吉尼”使用微信版本。</span><br/>
    <img src="/wxqrcode.jpg" height="150">
  </p>
</footer>